<%- include('header') %>
  <img />
  <h1>What is the name of your city?</h1>
  <p>This is a weather app.</p>
  <form class="pure-form" method="post" role="form">
    <fieldset>
      <input type="text" name="city" placeholder="e.g, Helsinki" autofocus required>
      <input type="submit" class="pure-button pure-button-primary" value="Go">
    </fieldset>
  </form>
  <script type="text/javascript" src="/main.js"></script>
<%- include('footer') %>
